* {
  box-sizing: border-box;
}

body {
  background-color: #36363a;
  font-family: "Rubik", sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.calculator-grid {
  display: grid;
  padding: 10px;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

@media only screen and (max-width: 400px) {
  .calculator-grid {
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 60px);
    padding: 5px;
  }
  .calculator-grid > button {
    font-size: 20px;
  }

  #output {
    font-size: 20px;
  }

  body{
    font-size: 30px;
  }
}

.calculator-grid > button {
  border-color: rgb(0, 86, 235);
  border-width: 3px;
  font-size: 40px;
  /* font-weight: bolder; */
  /* border-radius: 10px; */
  border-style: solid;
}

.calculator-grid > button:hover {
  border-color: black;
  border-width: 5px;
  background-color: #0740fa;
}

.two-col {
  grid-column: span 2;
}

.output {
  grid-column: 1/-1;
  background-color: rgb(11, 12, 14);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding-right: 10px;
  /* height: 100px; */
}

.output {
  font-size: 40px;
  color: #0491ef;
}
